<!DOCTYPE html>
<html>
<head>
    <title>To Do App</title>
</head>
<body>
    <h1>To Do App</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="title">
        <button type="submit">Add Task</button>
    </form>
    <!-- To show the list of task we've created-->
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.date_created }}</td>
            <td><a href="{% url 'modify-task' task.id %}">Modify</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>